* {
    box-sizing: border-box;
}

body {
    /* background-color: #6247AA; */
    color: #062726;
    font-family: "Verdana", serif;
    font-size: 20px;
    line-height: 1.1em;
}

a {
    color: #1D3557;
}

a:hover,
a:visited {
    color: #1D3557;
}

button {
    background: none;
    border: 1px solid #6247AA;
    border-radius: 0px;
    cursor: pointer;
    padding: .5rem .75rem;
}

.monospace {
    font-family: monospace;
}